<template>
    <div class="home">
      <div class="homeTop">
    <router-view/>
      </div>
<div class="homeButton">
<router-link to="/home/index">首页</router-link>
    <router-link to="/home/findhome">找房</router-link>
      <router-link to="/home/add">发布</router-link>
        <router-link to="/home/chatlist">消息</router-link>
          <router-link to="/home/my">我的</router-link>
</div>
    </div>
</template>

<script>

export default {
     setup() {
 
    }
}
</script>

<style lang="css" scoped>


</style>