<template>
    <div>
        215467
    </div>
</template>

<script>
export default {
    name: 'DebLogin',

    data() {
        return {
            
        };
    },

    mounted() {
        
    },

    methods: {
        
    },
};
</script>

<style lang="scss" scoped>

</style>