@function rem($px) {
  @return $px/75px * 1rem;
}
* {
  margin: 0px;
  padding: 0px;
}
body,
html,
#app {
  width: 100%;
  height: 100%;
}
.AppHome {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(52, 224, 210);
  .home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .homeTop {
    flex: 1;
  }
  .homeButton {
    height: 1rem;
  }
}
